<a href="https://colab.research.google.com/github/Adeola23/google-colab/blob/master/QUIZ_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [16]:
Fuel_Data = pd.read_csv(url, error_bad_lines= False)
Fuel_Data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Question 3

In [17]:
Fuel_Data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

Question 4

In [19]:
print(Fuel_Data['fuel_mmbtu_per_unit'].std())
print(np.percentile(Fuel_Data['fuel_mmbtu_per_unit'],q=75))

10.600220307806886
17.006

Question 5

In [20]:
print(Fuel_Data['fuel_qty_burned'].skew(axis=0).round(2))
print(Fuel_Data['fuel_qty_burned'].kurtosis(axis=0).round(2))

15.85
651.37

Question 6

In [24]:
Fuel_Data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [26]:
(Fuel_Data.isnull().sum()/len(Fuel_Data)).round(3)*100

record_id                       0.0
utility_id_ferc1                0.0
report_year                     0.0
plant_name_ferc1                0.0
fuel_type_code_pudl             0.0
fuel_unit                       0.6
fuel_qty_burned                 0.0
fuel_mmbtu_per_unit             0.0
fuel_cost_per_unit_burned       0.0
fuel_cost_per_unit_delivered    0.0
fuel_cost_per_mmbtu             0.0
dtype: float64

Question 8

In [28]:
Fuel_Data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [27]:
df=Fuel_Data.corr()
df.iloc[4].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

In [32]:
bf=Fuel_Data[Fuel_Data['fuel_type_code_pudl']=='coal']
cf=bf.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
(cf.loc[1998]-cf.loc[1994])/cf.loc[1994] *100

-20.56765451826049

Question 10

In [33]:
Fuel_Data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997